<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Łowisko Gniewino — Kamera | Rezerwacja stanowisk</title>
    <base href="/" />
    <link href="css/app.css?v=8" rel="stylesheet" />
    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />
</head>
<body>
    <Routes @rendermode="RenderMode.InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/editor.js"></script>
</body>
</html>
